<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Todo List</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <header>
      <h1>Todos</h1>
    </header>

    <main id="todo-app">
      <form id="new-todo" action="/todos" method="post">
        <input type="text" id="todo-task" name="task" placeholder="What needs to be done?">
        <button type="submit" class="button-inline">Add</button>
      </form>

      <form id="update-todos" action="/completed" method="post">
        <input type="hidden" name="todos[]" value="0">
        
        <aside class="todo-empty">
          <img src="images/spaceship.png" alt="You're done!">
          <h2>You're all done!</h2>
        </aside>

        <ul id="todos-list">
          <% @todos.each do |todo| %>
            <li class="todo <%= todo.completed_at ? 'is-complete' : '' %>">
              <input type="checkbox" class="todo-complete" name="todos[]" value="<%= todo.id %>" <%= 'checked' if todo.completed_at %>>
              <label><%= todo.task %></label>
            </li>
          <% end %>
        </ul>

        <footer id="todos-actions">
          <span class="todos-remaining"><strong><%= @todos.reject(&:completed_at).size %></strong> <%= @todos.size == 1 ? 'item' : 'items' %> left</span>
          <ul id="todos-filters">
            <li class="todo-filter all is-active">
              <a href="#">All</a>
            </li>
            <li class="todo-filter active">
              <a href="#">Active</a>
            </li>
            <li class="todo-filter completed">
              <a href="#">Completed</a>
            </li>
          </ul>
          <input type="hidden" name="_method" value="patch">
          <button type="submit" class="todos-update">Save</button>
        </footer>
      </form>
    </main>

    <footer>
      <small>Created in the future at <img src="images/bitmaker.png" alt="Bitmaker" class="footer-wordmark" /></small>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="js/todos.js" charset="utf-8"></script>
  </body>
</html>
